body {
    margin: 0;
}

#container {
    position: fixed;
    background: gray;
    width: 100%;
    height: 100%;
}

.bar {
    position: absolute;
}

.number-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.text-label {
    position: absolute;
    top: 120%;
    transform: translateY(-50%);
    font-weight: 600;
    padding-left: 20px;
    width: 100%;
}

.logo-src {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    padding-left: 10px;
}